<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riteshb.killrecentapp">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/recent_3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                <!-- if you want to not show your app in main menu of apps list
                then you can disable launcher and main
                with goto Run-Edit Configuration-general tab-launch option- select "nothing"  -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!--<activity android:name="com.android.systemui.recent.RecentsActivity" />-->

        <receiver android:name=".ClsWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver android:name=".ClsMyRebootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".switchButtonListener"
            android:exported="false" >
            <intent-filter>
                <action android:name="Download_Cancelled" />
            </intent-filter>
        </receiver>
        <service android:name=".ClsMyRebootIntentService"/>
        <service android:name=".UpdateWidgetService"></service>
    </application>

</manifest>